@CHARSET "UTF-8";

body {
	margin: auto;
	font-family:"Microsoft Yahei";
	color: #666;
}

* {
	margin: 0;
	font-family:"Microsoft Yahei";
	color: #666;
}

div{
	margin: auto;
	margin-bottom: 10px;
	margin-top: 10px;
}

#header {
	height: 82px;
	width: 1200px;
}

#main {
	height: 460px;
	width: 1200px;
	margin: auto;
	/*border: 1px black solid;*/
	overflow: auto;
}

#bottom {
	height: 30px;
	text-align: center;
}

#book{
	width: 100%;
	height: 90%;
	margin: auto;
	
}

.b_list{
	height:300px;
	width:250px;
	margin: 25px;
	float: left;
	margin-top:0px;
	margin-bottom:0px;
	/*border: 1px #e3e3e3 solid;*/
	border: none;
}

#page_nav{
	width: 100%;
	height: 10px;
	margin: auto;
	
	text-align: center;
}

.pn_input,
#pn_input {
	width: 30px;
	text-align: center;
	background-color: #33CCFF;
	border-radius: 10px;
	height: 16px;
}

.img_div{
	height: 150px;
	text-align: center;
}

.book_add {
	margin: auto;
}

.book_img {
	height:150px;
	width:250px;
}

.book_info {
	text-align: center;
}

.book_info div{
	height: 10px;
	width: 300px;
	text-align: left;
}

.wel_word{
	clear: both;
	font-family: Public Sans,sans-serif!important;
	font-size: 28px;
	font-weight: 700;
	line-height: 1.2;
	margin: 0;
	padding: 0 0 32px 35px;
	position: relative;
	text-align: left;
	text-transform: uppercase;
	width: 100%;
}

.logo_img{
	float: left;
}

.book_cond{
	margin-left: 500px;
}

.book_cond input{
	width: 50px;
	text-align: center;
}


/*登录页面CSS样式  */

#login_header{
	height: 82px;
	width: 1200px;
}

.login_banner{
	height:475px;
	background-color: #0071e3;
}

.login_form{
	height:310px;
	width:406px;
	float: right;
	margin-right:50px;
	margin-top: 50px;
	background-color: #fff;
}

#content {
	height: 475px;
	width: 1200px;
}

.login_box{
	margin: 20px;
	height: 260px;
	width: 366px;
}

h1 {
	font-size: 20px;
}
.msg_cont{
	background: none repeat scroll 0 0 #fff6d2;
    border: 1px solid #ffe57d;
    color: #666;
    height: 18px;
    line-height: 18px;
    padding: 3px 10px 3px 40px;
    position: relative;
    border: none;
}

.msg_cont b {
	background: url("../img/pwd-icons-new.png") no-repeat scroll -104px -22px rgba(0, 0, 0, 0);
    display: block;
    height: 17px;
    left: 10px;
    margin-top: -8px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 16px;
}

.form .itxt {
    border: 0 none;
    float: none;
    font-family: "宋体";
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    padding: 10px 0 10px 10px;
    width: 220px;
    border: 1px #e3e3e3 solid;
}

#sub_btn{
	background-color: #33CCFF;
	border: none;
	color: #fff;
	width: 360px;
	height: 40px;
}

#l_content {
	float: left;
	margin-top: 150px;
	margin-left: 300px;
}

#l_content span {
	font-size: 60px;
	color: white;
}

.tit h1 {
	float: left;
	margin-top: 5px;
}

.tit a {
	float: right;
	margin-left: 10px;
	margin-top: 10px;
	color: red;
	text-decoration: none;
}

.tit .errorMsg {
	float: right;
	margin-left: 10px;
	margin-top: 10px;
	color: red;
}

.tit {
	height: 30px;
}
/*购物车*/
#main table{
	margin: auto;
	margin-top: 80px; 
	border-collapse: collapse;
}

#main table td{
	width: 120px;
	text-align:center;
	border-bottom: 1px #e3e3e3 solid;
	padding: 10px;
}

.cart_info{
	width: 700px;
	text-align: right;
}

.cart_span {
	margin-left: 20px;
}

.cart_span span{
	color: red;
	font-size: 20px;
	margin: 10px;
}

.cart_span a , td a{
	font-size: 20px;
	color: blue;
}

#header div .um_span{
	color: red;
	font-size: 25px;
	margin: 10px;
}


.join_cart {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	font-size: 14px;
	FONT-VARIANT: JIS90;
	font-weight: 600;
	letter-spacing: -0.022em;
	font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
	min-width: 30px;
	padding: 4px 12px;
	border-radius: 680px;
	background: #0071e3;
	color: #fff;
	border: 1px solid transparent;
	--sk-button-margin-horizontal: 10px;
	--sk-button-margin-vertical: 10px;
	text-decoration: none;
	padding-bottom: 2px;
	padding-top: 2px;
}

.show_detail {
	font-weight: 600;
	border-radius: 30px;
	padding: 2px 10px;
	display: inline-block;
	color: #000;
	text-decoration: none;
	font-size: 14px;
	background: #99FFFF;
}

.index-table {
	list-style-type: none;
	padding: 0;
	margin: auto;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	border-collapse:collapse;
	width: 1300px;
	height: 325px;
	margin-bottom: 15px;
}

.index-table th, .index-table td {
	border-right: 1px solid #DDDDDD;
}

.index-table tr td:last-child {
	border-right: none;
}

.table {
	list-style-type: none;
	padding: 0;
	margin: auto;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	width: 1300px;
	text-align: center;
	border-collapse:collapse;
}

.table th, .table td {
	border: none;
	border-bottom: 1px solid #DDDDDD;
	padding: 5px;
	margin: 0;
}
.table tr:last-child td {
	border-bottom: none;
}

.notice-ul {
	list-style-type: none;
	padding: 0;
	margin: auto;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	width: 1300px;
	text-align: center;
	border-collapse:collapse;
}

.notice-ul li {
	float: left;
}

/* 水平导航条 */
nav ul {
	width: 1300px;
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
	height: 30px;
	background-color: #33CCFF;
}

nav li {
	float: left;
}

nav li input[type=submit],
nav li span,
nav li a {
	border: none;
	background: none;
	display: block;
	color: black;
	text-align: center;
	padding: 6px 10px;
	text-decoration: none;
	font-weight: 600;
}

nav .right-li {
	float: right;
	padding-right: 0;
	padding-left: 0
}

nav .right-span {
	padding-right: 0;
	padding-left: 0
}

nav li span:hover,
nav li a:hover {
	background-color: #00BBFF;
	color: white;
}
